.navbar{
background-color: #c32728;    
}
#navbarNav{
display:flex;
flex-direction: row-reverse;
width: 100%;
background-color: #c32728;  
}
.nav-link{
color: white; 
margin-right: 25px;   
}
.navbar-nav{
margin-right: 80px;    
}
.imageLogo{
height: 50%;  
margin-left: 25px;
}