<nav class="navbar navbar-expand-lg navbar bg">
    <a class="navbar-brand" href="#"><img src="../../assets/logoE.png" class="imageLogo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Ensaladas</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Salsas</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tartas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Platos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Sugerencias del chef</a>
        </li>
      </ul>
    </div>
  </nav>

