.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.header {
  align-content: center;
  width: 100%;
  height: 40px;
  background-color: #c32728;
}
.sidemenu {
  display: flex;
  align-items: center;
  margin-top: 45px;
  margin-left: 105px;
  width: 15%;
  height: 900px;
}
.content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 900px;
}
@media (max-width: 1599px) {
  .sidemenu {
    margin-left: 185px;
    margin-right: 185px;
    width: 20%;
  }
  .content {
    width: 40%;
  }
}
@media (max-width: 1551px) {
  .sidemenu {
    margin-left: 130px;
    margin-right: 90px;
    width: 20%;
  }
  .content {
    width: 60%;
  }
}
@media (max-width: 1300px) {
  .sidemenu {
    margin-left: 80px;
    margin-right: 40px;
    width: 20%;
  }
  .content {
    width: 60%;
  }
}
@media (max-width: 1000px) {
  .sidemenu {
    margin-left: 85px;
    margin-right: 85px;
    width: 25%;
  }
  .content {
    width: 50%;
  }
}
@media (max-width: 680px) {
  .sidemenu {
    margin-left: 25px;
    margin-right: 55px;
    width: 30%;
  }
  .content {
    width: 50%;
  }
}
@media (max-width: 537px) {
  .wrapper {
    display: flex;
    justify-content: center;
  }
  .sidemenu {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
    width: 100%;
    height: 520px;
  }
  .content {
    width: 100%;
    height: 500px;
  }
}
